.left-bar {
  width: 370px;
  display: flex;
  flex-direction: column;
  background: #e0ebfe;
}

.left-bar__info {
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
  height: 100%;
  gap: 40px;
}

.contacts,
.skills {
  padding-bottom: 40px;
}

.subtitle-text {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 35px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts__git-hub-link,
.contacts__email-link,
.contacts__linkedin-link,
.contacts__Phone-link {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 171%;
}

.contacts__git-hub-link:hover,
.contacts__email-link:hover,
.contacts__linkedin-link:hover,
.contacts__Phone-link:hover {
  color: blue;
}

/*-----lang-----*/
.lang__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
