@import url(./coomon.css);
@import url(./left-bar.css);
@import url(./right-bar.css);

.resume {
  background-color: rgba(255, 246, 144, 0.512);
  max-width: 1200px;
  height: 1300px;
  margin: 50px auto;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 1px 1px 1px 1px rgb(140, 140, 140);
}
