.resume {
  background-color: rgba(255, 246, 144, 0.512);
  max-width: 1200px;
  height: 1300px;
  margin: 50px auto;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 1px 1px 1px 1px rgb(140, 140, 140);
}

/* --------------------------------------------------- */

.left-bar {
  width: 370px;
  display: flex;
  flex-direction: column;
  background: #e0ebfe;
}

/* -----------------------LEFT____BAR-------------------------- */

.left-bar-info {
  padding: 100px 30px;
}

.contacts,
.skills {
  padding-bottom: 40px;
}

.subtitle-text {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.git-hub-link,
.email-link,
.linkedin-link {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
}

.git-hub-link:hover,
.email-link:hover,
.linkedin-link:hover {
  color: blue;
}

/* skills */

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-list-item {
  list-style-type: disc;
  color: #161d2a;
  margin-left: 20px;
}

.pharagraph {
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

/* lang */

.lang-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
